form{
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
}
#log{
    background-color: blue;
    color: wheat;
}
#re{
    background-color: red;
    color: wheat;
}